@using  Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sports Club</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MySportsClub.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Sports Club</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Members" asp-action="Index">Members</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Workouts" asp-action="Index">Workouts</a>
                        </li>
                    </ul>
                     <ul class="navbar-nav ml-auto">
                        @* IsSignedIn(User) - Returns true if the principal has an identity with the application cookie identity *@
                        @* User: is System.Security.ClaimsPrincipal of the current logged in user.*@
                        @*todo statements in razor pages werken niet met de Razor style comments
                            maar wel op de onderstaande manier*@

                        <!--todo lesson 4-11: Laat login / logout zien afhankelijk van inlogstatus: -->
                        <!--Twee mogelijkheden: m.b.v. SignInMangager: -->
                        <!-- if (signInManager.IsSignedIn(User)) -->
                        <!-- of zoals hieronder algemener (niet alleen voor ASP.NET Identity)
                                zie ook: https://stackoverflow.com/questions/48307099/signinmanager-issignedinuser-versus-user-identity-isauthenticated
                        -->
                        @if (User?.Identity?.IsAuthenticated ?? false) {
                            <li class="nav-item">
                                <form method="post" asp-action="logout" asp-controller="users">
                                    <button type="submit">
                                        logout @User.Identity.Name<!-- todo stap-11a: laat naam ingelogde gebruiker zien-->
                                    </button>
                                </form>
                            </li>
                        } else {
                            <!--todo lesson 4-6: maak navigatie links aan om te registreren en (latere stap) in te loggen -->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Users" asp-action="Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Users" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Les2MySportsClub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
